@font-face{font-family:'redes';src:url("../fonts/redes.eot?r8z3ms");src:url("../fonts/redes.eot?#iefixr8z3ms") format('embedded-opentype'),url("../fonts/redes.woff?r8z3ms") format('woff'),url("../fonts/redes.ttf?r8z3ms") format('truetype'),url("../fonts/redes.svg?r8z3ms#redes") format('svg');font-weight:normal;font-style:normal}
html{height:100%}
body{font-size:14px;height:100%;font-family:Arial}
.contenido{background:rgba(104,176,120,0.5);position:relative;height:462px;padding-top:3em;}
.contenido .contacto{position:relative;text-align:center;}
.contenido .contacto h4{margin:0;font-size:1.3em;color:rgba(0,0,0,0.3);text-align:center}
.contenido .contacto .redes ul{margin:0;}
.contenido .contacto .redes ul li{display:block;margin-left:-10px;}
.contenido .contacto .redes ul li a{text-decoration:none;font-size:1.3em}
.contenido .contacto .redes ul li .face,.contenido .contacto .redes ul li .twitter,.contenido .contacto .redes ul li .github,.contenido .contacto .redes ul li .google{font-family:'redes';font-size:2em;color:#808080}
.contenido .contacto .redes ul li .github:before{content:"\e603"}
.contenido .contacto .redes ul li .github:hover{color:#000}
.contenido .contacto .redes ul li .google:before{content:"\e602"}
.contenido .contacto .redes ul li .google:hover{color:#9f0000}
.contenido .contacto .redes ul li .face:before{content:"\e601"}
.contenido .contacto .redes ul li .face:hover{color:#00509f}
.contenido .contacto .redes ul li .twitter:before{content:"\e600"}
.contenido .contacto .redes ul li .twitter:hover{color:#2894ff}
.contenido .nombre{text-align:center;position:relative;}
.contenido .nombre .titulo{color:rgba(0,0,0,0.3);font-size:3em;position:relative;margin-top:1em;margin:0;font-weight:normal}
.contenido .nombre .descripcion{color:rgba(0,0,0,0.6);font-size:1.5em;font-style:italic;position:relative}
.contenido .nombre figure{background:url("../img/yo.jpg") no-repeat 20px rgba(165,165,165,0.67);background-size:120px;border-radius:50%;box-shadow:0 0 10px #000;position:relative;left:30%;padding:.5em;height:120px;width:120px}
header{background:#309a5e;height:85px;position:relative;}
header .menu{position:absolute;margin-top:2em;right:1em;}
header .menu ul{margin:0;}
header .menu ul li{display:inline-block;}
header .menu ul li a{color:#fff;text-transform:normal;text-decoration:none;padding:.5em;font-size:1.5em}
footer{position:relative;background:#309a5e;}
footer h3{text-align:center;color:rgba(255,255,255,0.9);padding:1em;margin:0;}
footer h3 .autor{display:block}
@media screen and (min-width:479px){.contenido .contacto .redes ul{margin-top:20px;}
.contenido .contacto .redes ul li{margin-right:2em;display:inline-block}
}@media screen and (min-width:768px){.contenido .nombre figure{background-size:200px;left:42%;height:190px;width:190px}
}